In [1]:
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple[2])

3

In [2]:
my_tuple = (10, 20, 30)
a, b, c = my_tuple
print(a)
print(b)
print(c)

10
20
30

In [3]:
my_tuple = (1, 2, 3, 4)
new_tuple = my_tuple[:2] + (5,) + my_tuple[2:]
print(new_tuple)

(1, 2, 5, 3, 4)

In [4]:
my_tuple = ('e', 'x', 'e', 'r', 'c', 'i', 's', 'e', 's')
my_string = ''.join(my_tuple)
print(my_string)

exercises

In [5]:
my_tuple = (1, 2, 3, 2, 1, 4, 5, 1)
repeated_items = set([item for item in my_tuple if my_tuple.count(item) > 1])
print(repeated_items)

{1, 2}

In [7]:
my_tuple = (1, 2, 3, 4, 5)
index_to_remove = 2
new_tuple = my_tuple[:index_to_remove] + my_tuple[index_to_remove+1:]
print(new_tuple)

(1, 2, 4, 5)

In [8]:
my_tuple = (1, 2, 3, 4, 5)
reversed_tuple = my_tuple[::-1]
print(reversed_tuple)

(5, 4, 3, 2, 1)

In [9]:
my_list = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
new_list = [(tuple[:2] + (10,)) for tuple in my_list]
print(new_list)

[(1, 2, 10), (4, 5, 10), (7, 8, 10)]

In [10]:
fruits = ["apple", "banana", "orange"]
fruits.append("grape")

In [11]:
numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]
numbers1.extend(numbers2)

In [12]:
colors = ["red", "blue", "green"]
colors.insert(1, "yellow")

In [13]:
cities = ["Paris", "London", "New York", "Paris"]
cities.remove("Paris")

In [14]:
animals = ["dog", "cat", "bird", "fish"]
removed_animal = animals.pop(2)

In [15]:
random_numbers = [10, 20, 30, 40]
random_numbers.clear()

In [16]:
capitals = {"USA": "Washington D.C.", "France": "Paris", "Germany": "Berlin"}
capital_of_france = capitals.get("France", "Not Found")
print(capital_of_france)

Paris

In [17]:
languages = {"Python": ["Django", "Flask"], "JavaScript": ["React", "Vue", "Angular"]}
language_list = list(languages.keys())
print(language_list)

['Python', 'JavaScript']

In [19]:
frameworks_list = list(languages.values())
print(frameworks_list)

[['Django', 'Flask'], ['React', 'Vue', 'Angular']]

In [20]:
items = {"apple": 2, "banana": 1.5, "orange": 3}
items_list = list(items.items())
print(items_list)

[('apple', 2), ('banana', 1.5), ('orange', 3)]

In [21]:
student_scores = {"Alice": 90, "Bob": 85}
more_scores = {"Charlie": 95, "David": 88}
student_scores.update(more_scores)
print(student_scores)

{'Alice': 90, 'Bob': 85, 'Charlie': 95, 'David': 88}

In [22]:
students = {"Alice": 25, "Bob": 22, "Charlie": 28}
popped_student = students.pop("Bob")
print(popped_student)
print(students)

22
{'Alice': 25, 'Charlie': 28}

In [23]:
colors = {"red": 1, "green": 2, "blue": 3}
colors.clear()
print(colors)

{}