In [6]:
def fibonacci(n):
    if n < 0:
        raise ValueError("n must be non-negative")
    elif n == 0 or n == 1:
        return n
    else:
        fib_numbers = [0, 1]
        for i in range(2, n+1):
            fib_numbers.append(fib_numbers[i-1] + fib_numbers[i-2])
        return fib_numbers[n]

n = 10
print(fibonacci(n))

55

In [9]:
def count_unique_words(strings):
    word_count = {}
    for string in strings:
        for word in string.split():
            word_count[word] = word_count.get(word, 0) + 1
    return word_count

strings = ["hello world", "hello python", "world python"]
print(count_unique_words(strings))

{'hello': 2, 'world': 2, 'python': 2}

In [11]:
def find_pairs_with_sum(nums, target):
    seen = set()
    for num in nums:
        complement = target - num
        if complement in seen:
            yield (complement, num)
        seen.add(num)

nums = [2, 7, 11, 15]
target = 9
for pair in find_pairs_with_sum(nums, target):
    print(pair)

(2, 7)

In [13]:
def find_max_product_pair(nums):
    if len(nums) < 2:
        raise ValueError("List must contain at least two numbers")

    nums.sort()
    return max(nums[-1] * nums[-2], nums[0] * nums[1])

nums = [1, 2, 3, 4, 5]
print(find_max_product_pair(nums))

20

In [16]:
def is_prime(n):
    if n <= 1:
        return False
    if n <= 3:
        return True
    if n % 2 == 0 or n % 3 == 0:
        return False
    i = 5
    while i * i <= n:
        if n % i == 0 or n % (i + 2) == 0:
            return False
        i += 6
    return True

n = 17
print(is_prime(n))

True

In [18]:
def print_even_numbers(nums):
    for num in nums:
        if num % 2 == 0:
            print(num)

nums = [1, 2, 3, 4, 5, 6]
print_even_numbers(nums)

2
4
6

In [19]:
def reverse_word_order(string):
    words = string.split()
    reversed_words = words[::-1]
    return " ".join(reversed_words)

string = "hello world"
print(reverse_word_order(string))

world hello

In [20]:
def is_palindrome(x):
    if x < 0:
        return False
    reversed_x = int(str(x)[::-1])
    return x == reversed_x

x = 121
print(is_palindrome(x))

True

In [21]:
def is_palindrome_string(string):
    return string == string[::-1]

string = "racecar"
print(is_palindrome_string(string))

True

In [23]:
def create_squares_list(n):
    return [i**2 for i in range(1, n+1)]

n = 30
print(create_squares_list(n))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]